# PyCity Schools Analysis

- Write Analysis here
  
---

In [162]:
import pandas as pd
import os
import csv

In [163]:
# Define the file paths (adjust these paths based on your actual file locations)
schools_complete_csv = "C:\\Users\\Sweet\\OneDrive\\Documents\\GitHub\\pandas-challenge\\PyCitySchool\\Resources\\schools_complete.csv"
students_complete_csv = "C:\\Users\\Sweet\\OneDrive\\Documents\\GitHub\\pandas-challenge\\PyCitySchool\\Resources\\students_complete.csv"

In [164]:
# Attempt to read the CSV files
school_data_df = pd.read_csv(schools_complete_csv)
student_data_df = pd.read_csv(students_complete_csv)

In [165]:
# Display some information to verify successful reading

school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [166]:
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [167]:
#Merge the two data frames
pycitysch_data = pd.merge (student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
pycitysch_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [168]:
# Calculate the total number of unique schools
school_count = pycitysch_data["school_name"].nunique()
school_count

15

In [169]:
#Calculate the total number of students
student_count = pycitysch_data["student_name"].count()
student_count

39170

In [170]:
pycitysch_data_unique = pycitysch_data.drop_duplicates(subset=['school_name'])

In [171]:
# Calculate the total budget
total_budget = pycitysch_data_unique ["budget"].sum()
total_budget

24649428

In [172]:
average_math_score = pycitysch_data["math_score"].mean()
average_math_score

78.98537145774827

In [173]:
# Calculate the average (mean) reading score
average_reading_score = pycitysch_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [174]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = pycitysch_data[(student_data_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [175]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count =  pycitysch_data[(student_data_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [176]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = pycitysch_data[
    (pycitysch_data["math_score"] >= 70) & (pycitysch_data["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [177]:
# Create a high-level snapshot of the district's key metrics in a DataFrame




district_summary = pd.DataFrame ({"Total Schools": [school_count],"Total Students": [student_count],"Total Budget": [total_budget],"Average Math Score":[average_math_score], "Average Reading Score"
                                  : [average_reading_score],"% Passing Math":[passing_math_percentage], "% Passing Reading":[passing_reading_percentage],"Overall Passing":[overall_passing_rate]})

# Formatting
district_summary["Total Schools"] = district_summary["Total Schools"].map("{:,}".format)
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{0:,.6f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{0:,.5f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{0:,.6f}".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{0:,.6f}".format)
district_summary["Overall Passing"] = district_summary["Overall Passing"].map("{0:,.6f}".format)




# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [178]:
# Use the code provided to select the type per school from school_data
school_types = school_data_df.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [179]:
# Calculate the total student count per school from school_data
per_school_counts = school_data_df.groupby("school_name")["size"].sum().reset_index()
per_school_counts

              school_name  size
0      Bailey High School  4976
1     Cabrera High School  1858
2    Figueroa High School  2949
3        Ford High School  2739
4     Griffin High School  1468
5   Hernandez High School  4635
6      Holden High School   427
7       Huang High School  2917
8     Johnson High School  4761
9        Pena High School   962
10  Rodriguez High School  3999
11    Shelton High School  1761
12     Thomas High School  1635
13     Wilson High School  2283
14     Wright High School  1800

In [180]:
per_school_budget = school_data_df.groupby("school_name")["budget"].sum() 
per_school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [181]:
per_school_capita= pycitysch_data.groupby("school_name")["budget"].sum() / pycitysch_data.groupby("school_name")["size"].sum()

per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [182]:
# Calculate average math score per school
per_school_math = pycitysch_data.groupby("school_name")["math_score"].mean().reset_index()


per_school_reading= pycitysch_data.groupby("school_name")["reading_score"].mean().reset_index()

In [183]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math = pycitysch_data[pycitysch_data['math_score'] >= 70]

school_students_passing_math = students_passing_math.groupby('school_name').size().reset_index(name='num_students_passing_math')
school_students_passing_math

              school_name  num_students_passing_math
0      Bailey High School                       3318
1     Cabrera High School                       1749
2    Figueroa High School                       1946
3        Ford High School                       1871
4     Griffin High School                       1371
5   Hernandez High School                       3094
6      Holden High School                        395
7       Huang High School                       1916
8     Johnson High School                       3145
9        Pena High School                        910
10  Rodriguez High School                       2654
11    Shelton High School                       1653
12     Thomas High School                       1525
13     Wilson High School                       2143
14     Wright High School                       1680

In [184]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = pycitysch_data[pycitysch_data['reading_score'] >= 70]

school_students_passing_reading = students_passing_reading.groupby('school_name').size().reset_index(name='num_students_passing_reading')


school_students_passing_reading

              school_name  num_students_passing_reading
0      Bailey High School                          4077
1     Cabrera High School                          1803
2    Figueroa High School                          2381
3        Ford High School                          2172
4     Griffin High School                          1426
5   Hernandez High School                          3748
6      Holden High School                           411
7       Huang High School                          2372
8     Johnson High School                          3867
9        Pena High School                           923
10  Rodriguez High School                          3208
11    Shelton High School                          1688
12     Thomas High School                          1591
13     Wilson High School                          2204
14     Wright High School                          1739

In [185]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = pycitysch_data[
    (pycitysch_data["reading_score"] >= 70) & (pycitysch_data["math_score"] >= 70)
]

school_students_passing_math_and_reading = students_passing_math_and_reading.groupby('school_name').size().reset_index(name='num_students_passing_both')

school_students_passing_math_and_reading

              school_name  num_students_passing_both
0      Bailey High School                       2719
1     Cabrera High School                       1697
2    Figueroa High School                       1569
3        Ford High School                       1487
4     Griffin High School                       1330
5   Hernandez High School                       2481
6      Holden High School                        381
7       Huang High School                       1561
8     Johnson High School                       2549
9        Pena High School                        871
10  Rodriguez High School                       2119
11    Shelton High School                       1583
12     Thomas High School                       1487
13     Wilson High School                       2068
14     Wright High School                       1626

In [188]:
per_school_passing_math = (school_students_passing_math['num_students_passing_math'] / per_school_counts['size']) * 100
per_school_passing_math

0     66.680064
1     94.133477
2     65.988471
3     68.309602
4     93.392371
5     66.752967
6     92.505855
7     65.683922
8     66.057551
9     94.594595
10    66.366592
11    93.867121
12    93.272171
13    93.867718
14    93.333333
dtype: float64

In [189]:
per_school_passing_reading = (school_students_passing_reading['num_students_passing_reading'] / per_school_counts['size']) * 100
per_school_passing_reading

0     81.933280
1     97.039828
2     80.739234
3     79.299014
4     97.138965
5     80.862999
6     96.252927
7     81.316421
8     81.222432
9     95.945946
10    80.220055
11    95.854628
12    97.308869
13    96.539641
14    96.611111
dtype: float64

In [ ]:
overall_passing_rate = (per_school_counts)['size'] / (school_students_passing_math_and_reading *2

In [ ]:
overall_passing_rate

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,num_students_passing_both,school_name
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
per_school_passing_math = (students_passing_math/ per_school_counts) * 100
per_school_passing_reading = (students_passing_reading / per_school_counts) * 100
overall_passing_rate = (students_passing_math_and_reading / per_school_counts) * 100

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
per_school_passing_math = (students_passing_math["num_students_passing_math"] / per_school_counts["size"]) * 100
per_school_passing_reading = (students_passing_reading["num_students_passing_reading"] / per_school_counts["size"]) * 100

KeyError: 'num_students_passing_math'

In [ ]:
school_students_passing_math_and_reading = per_school_passing_math + per_school_passing_reading
school_students_passing_math_and_reading

In [ ]:
overall_passing_rate = (school_students_passing_math_and_reading / per_school_counts["size"]) * 100

overall_passing_rate

In [ ]:
per_school_passing_math = (students_passing_math/ per_school_counts) * 100
per_school_passing_reading = (students_passing_reading / per_school_counts) * 100
overall_passing_rate = (students_passing_math_and_reading / per_school_counts) * 100

## Highest-Performing Schools (by % Overall Passing)

In [ ]:
top_schools = top_performing_schools = per_school_summary.sort_values(by='% Overall Passing', ascending=False)
top_schools.head(5)

## Bottom Performing Schools (By % Overall Passing)

## Math Scores by Grade

In [ ]:
ninth_graders = pycitysch_data[(pycitysch_data["grade"] == "9th")]
tenth_graders = pycitysch_data[(pycitysch_data["grade"] == "10th")]
eleventh_graders = pycitysch_data[(pycitysch_data["grade"] == "11th")]
twelfth_graders = pycitysch_data[(pycitysch_data["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grader_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()


# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade =pd.DataFrame({
    "9th": ninth_grader_math_scores,
    "10th": tenth_grader_math_scores,
    "11th": eleventh_grader_math_scores,
    "12th": twelfth_grader_math_scores})

# Minor data wrangling
math_scores_by_grade.index.name = None

math_scores_by_grade

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = pycitysch_data[(pycitysch_data["grade"] == "9th")]
tenth_graders = pycitysch_data[(pycitysch_data["grade"] == "10th")]
eleventh_graders = pycitysch_data[(pycitysch_data["grade"] == "11th")]
twelfth_graders = pycitysch_data[(pycitysch_data["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_reading_scores,
    "10th": tenth_grader_reading_scores,
    "11th": eleventh_grader_reading_scores,
    "12th": twelfth_grader_reading_scores})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [ ]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

In [ ]:

average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()