In [ ]:
import pandas as pd
import os
import csv

In [ ]:
# Define the file paths (adjust these paths based on your actual file locations)
schools_complete_csv = "C:\\Users\\Sweet\\OneDrive\\Documents\\GitHub\\pandas-challenge\\PyCitySchool\\Resources\\schools_complete.csv"
students_complete_csv = "C:\\Users\\Sweet\\OneDrive\\Documents\\GitHub\\pandas-challenge\\PyCitySchool\\Resources\\students_complete.csv"

In [ ]:
# Attempt to read the CSV files
school_data_df = pd.read_csv(schools_complete_csv)
student_data_df = pd.read_csv(students_complete_csv)

In [110]:
# Display some information to verify successful reading

school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [95]:
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [96]:
#Merge the two data frames
pycitysch_data = pd.merge (student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
pycitysch_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [94]:
# Calculate the total number of unique schools
school_count = pycitysch_data["school_name"].nunique()
school_count

15

In [98]:
#Calculate the total number of students
student_count = pycitysch_data["student_name"].count()
student_count

39170

In [105]:
pycitysch_data_unique = pycitysch_data.drop_duplicates(subset=['school_name'])

In [106]:
# Calculate the total budget
total_budget = pycitysch_data_unique ["budget"].sum()
total_budget

24649428

In [107]:
average_math_score = pycitysch_data["math_score"].mean()
average_math_score

78.98537145774827

In [108]:
# Calculate the average (mean) reading score
average_reading_score = pycitysch_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [112]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = pycitysch_data[(student_data_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [130]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count =  pycitysch_data[(student_data_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [131]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = pycitysch_data[
    (pycitysch_data["math_score"] >= 70) & (pycitysch_data["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [140]:
# Create a high-level snapshot of the district's key metrics in a DataFrame

total_schools = school_count
total_students = student_count
total_budget = total_budget


district_summary = pd.DataFrame ({"Total Schools": [total_schools],"Total Students": [total_students],"Total Budget": [total_budget],"Average Math Score":[average_math_score], "Average Reading Score"
                                  : [average_reading_score],"% Passing Math":[passing_math_percentage], "% Passing Reading":[passing_reading_percentage],"Overall Passing":[overall_passing_rate]})

# Formatting
district_summary["Total Schools"] = district_summary["Total Schools"].map("{:,}".format)
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{0:,.6f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{0:,.5f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{0:,.6f}".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{0:,.6f}".format)
district_summary["Overall Passing"] = district_summary["Overall Passing"].map("{0:,.6f}".format)




# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326